<<<<<<< HEAD
<nav class="navbar navbar-expand-lg py-4 navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
       <img src="https://th.bing.com/th/id/OIP.g3QT8LdHsQRA02q-LYh4oQHaHa?pid=ImgDet&w=221&h=221&c=7&dpr=1.25" alt="" width="40" height="40" style="border-radius: 50%;">
      Kosle Technical Solutions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
=======
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 border-bottom">
  <div class="container">
    <a class="navbar-brand" href="#">

      <img src="" alt="" width="30" height="24"
        class="d-inline-block align-text-top">
      Info Tech Solution
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
>>>>>>> d8784904219224a74a8f2dd8c711f4434def1bf1
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
<<<<<<< HEAD
       
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      
=======

        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

>>>>>>> d8784904219224a74a8f2dd8c711f4434def1bf1
    </div>
  </div>
</nav>